<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tu.wms.purchasing.dao.api.PurchaseOrderDao">

    <insert id="savePurchaseOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `purchase_order`
        (
        `creation_time`
        )
        VALUES
        (
        #{creationTime}
        )
    </insert>

    <resultMap id="PurchaseOrderResultMap" type="tu.wms.purchasing.domain.po.PurchaseOrderPO">
        <id property="id" column="id"/>
        <result property="creationTime" column="creation_time"/>
    </resultMap>

    <sql id="columns">id, creation_time</sql>

    <select id="getPurchaseOrder" resultMap="PurchaseOrderResultMap">
        SELECT
        <include refid="columns"/>
        FROM purchase_order
        WHERE
        id = #{param1}
    </select>

</mapper>